* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F1F3;
}

.container-fluid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999999;

}

.container-fluid .dark {
    cursor: pointer;
}

.container-fluid .dark i {
    margin-right: 10px;
    transform: rotate(-25deg);
}

.container-fluid .dark p {
    margin-bottom: 0;
}

.container.content {
    margin-top: 80px;
    /* height: 100vh; */
}

body.dark-mode {
    background-color: #121212;
    color: #f1f1f1;
}


body.dark-mode .container-fluid {
    background-color: #1e1e1e;
}


body.dark-mode input,
body.dark-mode select {
    background-color: #222;
    color: white;
    border: 1px solid #555;
}


body.dark-mode .card {
    background-color: #1e1e1e;
    color: white;
    border: none;
}


@media screen and (max-width: 575px) {
    .search {
        flex-direction: column-reverse;
    }
    .container-fluid h2,
    .container-fluid p {
        font-size: 18px;
    }
}